.signUp{
    border:1px solid rgb(3, 3, 108);
    padding:30px 0;
    margin :10px 35%;
    background-color: rgb(193, 146, 252);
    box-shadow:5px 5px 3px rgb(32, 1, 58);
    border-radius: 10px;
    color:white;
}
.input{
    background-color: rgb(249, 249, 249);
}
body{
    background-color: rgb(252, 252, 228);
}